{% extends 'base.html.twig' %}

{% block title %}
	Cadastrar Série
{% endblock %}

{% block body %}
	<h1>Cadastrar Série</h1>

	{% if series %}
		<form method='POST' action="{{path('app_editSeries', {'id': series.id})}}">
			<input type='hidden' name='_method' value='PUT'>
			
		{% else %}
			<form method='POST' action="{{path('app_addSeries')}}">
			{% endif %}

			<div class='mb-3'>
				<label for='name' class='form-label'>Nome</label>
				{% if series %}
					<input type='text' id='name' name='name' class='form-control' value='{{series.name}}'>
				{% else %}
					<input type='text' id='name' name='name' class='form-control'>
				{% endif %}
			</div>
			<button type='submit' class='btn btn-dark'>Salvar</button>
		</form>

	{% endblock %}
